	.watchwrc {
 height:200px;
 width:590px;
 border:3px solid rgb(255, 137, 137);
 color:rgb(255, 0, 0);
 background-color:rgb(77, 198, 255);
 display:inline-block;
 margin:3px;
 padding:50px;
 border-radius: 30px;
}

.watchwrc:hover {
background-color: rgb(68, 134, 197);
}

.mybutton {
width: 160px;
height: 80px;
background-color: gold;
border: 2px solid firebrick;
border-radius: 10px;
font-size: 21px;
}

.mybutton:hover {
background-color: rgb(255, 166, 0);
transform: translateY(-2px);
}

nav {
border: 1px;
background-color: rgb(4, 0, 255);
color: white;
padding: 6px;
}

nav:hover {
background-color: rgb(69, 77, 167);
}

a:hover {
opacity: 0.7;
color: black;
transform: translateY(20px);
}


a {
color: rgb(255, 255, 255);
font-size: 13px;
text-decoration: none;
}

button:hover {
background-color: #ff7fd8;
transform: scale(1.05);  
transition: 0.3s ease;
}
body {
background-color: rgb(216, 230, 230);
}
button {
padding: 15px 40px;  
font-size: 18px;     
border-radius: 8px;
background-color: #FF9CE5;
border: none;
cursor: pointer;
}
button a {
text-decoration: none;
color: black;
font-weight: bold;
}




